.form_section {
  overflow: hidden;
}
.form_box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.inps {
  padding: 7px;
  margin: 1rem 0.7rem;
  outline: none;
  background-color: black;
  color: white;
  border: 2px solid #0cbdc5;
  border-radius: 5px;
  height: 7vh;
}

.addBtn {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
}
.addBtn:hover {
  border: 2px solid skyblue;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .form_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .inps {
    width: 70%;
    margin: 0.3rem 0;
  }
  #descriptionBox {
    height: 20vh;
  }
}
