.main {
  padding-bottom: 3rem;
}
.box {
  display: flex;
  justify-content: space-around;
  background: black;
  color: white;
  border: 2px solid #0cbdc5;
  padding: 7px;
  margin: 5px 0;
}
.form_section {
  overflow: hidden;
}
